#!/usr/bin/env python3

# Turn on debug mode.
import cgitb
cgitb.enable()

# Print necessary headers.
print("Content-type: text/html\n\n")
print()
print("<center><h1>hello, brother!!</h1></center>")
print()